.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    /*grid-template-rows: 30% 30% 30%;*/
    gap: 2em;
    row-gap: 5em;
}

.image-card{
    background-color: #EAEFF2;
    border-radius: 5px;

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.image-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content-card{
    padding: 5px 16px;

    display: grid;
    grid-template-columns: 100%;

    align-items: center;
    justify-items: center;
}

img {
    border-radius: 5px 5px 0 0;
}

.image{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.author-img{
    border-radius: 50%;

    width: 80px;
    height: 80px;
}

.author-name{
    line-height: 100%
}

.footer{
    display: grid;
    grid-template-columns: 100%;

    background-color: #EAEFF2;
}

.about{
    padding: 10px 26px;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    gap: 3em;

    align-items: center;
    justify-items: center;
}

.about-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.simulator-container{
    padding-left: 20%;
    padding-right: 20%;
}

.result-simulation{
    padding-left: 5%;
    padding-right: 5%;
}

.contact-form{
    padding-left: 20%;
    padding-right: 20%;
}

/* Responsive */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px){
    .container{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .image-card{
        max-height: 500px;
    }
    .about{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .author-img{
        width: 70px;
        height: 70px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    .image-card{
        max-height: 700px;
    }
    .about{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
    .container{
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }
    .image-card{
        max-height: 800px;
    }
    .about{
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;

        padding-left: 20%;
        padding-right: 20%;
    }
}
